@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  z-index: 1;
}

body {
  background-color: #090312;
}

.view-btn:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.login-hostee-btn:hover {
  background-color: transparent;
  color: white;
  border-radius: 1.5rem;
  border-width: 1px;
  border-color: #c584f5;
  transition: 0.5s;
}

.get-started-btn:hover {
  background-color: #10222c;
  transition: 1s;
}

.sidebar-elements:hover {
  color: white;
  opacity: 75%;
  transition: 0.3s;
}

.sidebar-btn:hover {
  color: white;
  opacity: 100%;
  transition: 0.3s;
}

.create-event-btn:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.generate-qr-btn:hover {
  background-color: #000000;
  color: white;
  transition: all 0.5s;
}

.cta-button {
  border-radius: 1.875rem;
  border: 2px solid rgba(175, 30, 224, 0.65);
  background: linear-gradient(
    94deg,
    rgba(64, 104, 205, 0.44) -45.99%,
    rgba(175, 30, 224, 0.65) 110.78%
  );
  backdrop-filter: blur(20px);
}

.grad1 {
  overflow: hidden;
  background-image: radial-gradient(#9303c6, #420294, #000000);
}

.grad2 {
  overflow: hidden;
  background-image: radial-gradient(
    farthest-corner at 60% 55%,
    #9303c6,
    #420294,
    #000000
  );
}

.text-gradient {
  color: transparent;
  background: linear-gradient(90deg, #801ee1 4%, #ffffff 87%);
  background: linear-gradient(19deg, #801ee1 30%, #ffffff 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CS-text-gradient {
  background: linear-gradient(
    90deg,
    #850cff 0.1%,
    rgba(19, 71, 255, 0) 120.29%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2.24px;
}

.box-background {
  border-radius: 1.25rem;
  border: 1px solid #3c3c3c;
  background: rgba(68, 68, 68, 0.302);
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.outer-box{
  border-radius: 1.25rem;
  border: 1px solid #3c3c3c;
  background: transparent;
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.sidebar {
  background-color: #923cb5;
  background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
}

.email-input {
  border-radius: 1.875rem;
  border: 1px solid #b01ee185;
  background-color: transparent;
  transition: 0.3s;
}

.email-input:focus {
  border: solid 1px #b01ee1;
}

.subscribe-button {
  border-radius: 1.25rem;
  border: 1px solid #b01ee185;
  background: rgba(68, 68, 68, 0.302);
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.subscribe-button:hover {
  border: solid 1px #b01ee1;
}

.footerDiv {
  border: 4px solid #5c5c5c30;
  border-radius: 40px;
  border-bottom: 0px solid #ffffff;
}

.footerGradientDiv {
  position: absolute;
  right: 0;
  z-index: 5;
  margin-left: auto;
  overflow: hidden;
  width: auto;
  /* Match the width of your image */
  height: 325px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 15px;
  filter: blur(1.25rem);
}

.hoverUnderline {
  display: inline-block;
  position: relative;
}

.hoverUnderline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hoverUnderline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hoverUnderlineWhite {
  display: inline-block;
  position: relative;
}

.hoverUnderlineWhite::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hoverUnderlineWhite:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hoverFooter {
  color: #fff;
  transition: 0.3s;
}

.hoverFooter:hover {
  color: #fff;
  opacity: 0.7;
}

.back-btn {
  opacity: 0.7;
  transition: 0.1s;
}

.back-btn:hover {
  opacity: 1;
}

.bg-inventory {
  background: radial-gradient(
    82.36% 96.27% at 24.72% 50%,
    #2d004f 0%,
    #000 100%
  );
}

.bg-createEvent {
  background: linear-gradient(180deg, #29004a 0%, #000 98.24%);
}

.bg-supportPage {
  background: linear-gradient(180deg, #29004a 0%, #000 98.24%);
}

.bg-dashboard {
  background: conic-gradient(
    from 53deg at 40.84% 66.92%,
    #9303c6 12.003970295190811deg,
    #420294 80.62499821186066deg,
    #000 230.625deg,
    #000 341.20814323425293deg
  );
}

.mycalender-background {
  border: 1px solid #3c3c3c;
  background: rgba(68, 68, 68, 0.3);
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.createEvent {
  background: linear-gradient(
    94deg,
    rgba(64, 104, 205, 0.44) -45.99%,
    rgba(191, 30, 245, 0.65) 110.78%
  );
  backdrop-filter: blur(20px);
}

.sidebar-bg {
  border-radius: 0.75rem;
  border: 1px solid #3c3c3c;
  background: rgba(68, 68, 68, 0.302);
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.claimed-bg {
  background: rgba(68, 68, 68, 0.302);
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.grad-001 {
  overflow: hidden;
  background-image: radial-gradient(#18a018, #1a6b25, #38c04e);
}

.btn-bg{
  border-radius: 1.25rem;
  border: 2px solid #3c3c3c;
  background: rgba(68, 68, 68, 0.302);
  box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

::-webkit-calendar-picker-indicator{
  cursor: pointer;
  /* width: 70%; */
}