@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    z-index: 1;
}

body {
    background-color: #090312;
}

/* 
.Toastify__toast-container {
    z-index: 999;
}

.Toastify__toast-container--top-left {
    z-index: 9999999;
}

.Toastify__toast {
    z-index: 9999999;
}

.Toastify__toast-theme--dark {
    z-index: 9999999;
}

.Toastify__toast-body {

    z-index: 9999999;
} */

.view-btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.login-hostee-btn:hover {
    background-color: transparent;
    color: white;
    border-radius: 1.5rem;
    border-width: 1px;
    border-color: #C584F5;
    transition: 0.5s;
}

.get-started-btn:hover {
    background-color: #10222c;
    transition: 1s;
}

.sidebar-elements:hover {
    color: white;
    opacity: 75%;
    transition: 0.3s;
}

.sidebar-btn:hover {
    color: white;
    opacity: 100%;
    transition: 0.3s;
}

.create-event-btn:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}

.generate-qr-btn:hover {
    background-color: #000000;
    color: white;
    transition: all .5s;
}

.cta-button {
    border-radius: 1.875rem;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(94deg, rgba(64, 104, 205, 0.44) -45.99%, rgba(175, 30, 224, 0.65) 110.78%);
    backdrop-filter: blur(20px);
}

/* .gradient-bg {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at -104% 139%, #1E1F23F2 0%, #073AFF00 100%),
                      radial-gradient(60% 46% at 126% 40%, #030004f2 1%, #073AFF00 97%),
                      radial-gradient(106% 86% at 52% 13%, #1E1F23F2 1%, #FF000000 99%),
                      radial-gradient(137% 101% at 54% 96%, #1E1F23F2 22%, #FF000000 99%),
                      radial-gradient(142% 91% at 108% 103%, #AF16E3F2 0%, #AF16E3F2 100%);
} */

.grad1 {
    overflow: hidden;
    background-image: radial-gradient(#9303C6, #420294, #000000);
}

.grad2 {
    overflow: hidden;
    background-image: radial-gradient(farthest-corner at 60% 55%, #9303C6, #420294, #000000);
}

.text-gradient {
    color: transparent;
    background: linear-gradient(90deg, #801EE1 4%, #FFFFFF 87%, );
    background: linear-gradient(19deg, #801EE1 30%, #FFFFFF 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CS-text-gradient {
    background: linear-gradient(90deg, #850CFF 0.1%, rgba(19, 71, 255, 0.00) 120.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -2.24px;
}

.box-background {
    border-radius: 1.25rem;
    border: 1px solid #3C3C3C;
    background: rgba(68, 68, 68, 0.302);
    box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(20px);
}

.sidebar {
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
}

.email-input {
    border-radius: 1.875rem;
    border: 1px solid #b01ee185;
    background-color: transparent;
    /* background: linear-gradient(95deg, rgba(255, 255, 255, 0.38) 22.83%, rgba(255, 255, 255, 0.00) 112.69%); */
    /* background-color: #bdcad9;  */
    transition: 0.3s;
}

.email-input:focus {
    border: solid 1px #b01ee1;
}


.subscribe-button {
    border-radius: 1.25rem;
    border: 1px solid #b01ee185;
    background: rgba(68, 68, 68, 0.302);
    box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(20px);
}

.subscribe-button:hover{
    border: solid 1px #b01ee1;
}


/* .footer-gradient{
    background-image: url('../public/largerGradient.png'), url('../public/largerGradient.png');
    background-repeat: no-repeat;
  background-position: right top;
  filter: blur(1.5rem);
} */

.footerDiv {
    border: 4px solid #5C5C5C30;
    border-radius: 40px;
    border-bottom: 0px solid #FFFFFF;
}

.footerGradientDiv {
    position: absolute;
    right: 0;
    z-index: 5;
    margin-left: auto;
    overflow: hidden;
    width: auto;
    /* Match the width of your image */
    height: 325px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 15px;
    filter: blur(1.25rem);
}

/*.footerGradient {
    position: relative;
    filter: blur(1.5rem);
    right: 0;
    z-index: 5;
    margin-left: auto;
    opacity: 1;
    overflow: hidden;
}*/

.hoverUnderline {
    display: inline-block;
    position: relative;
}

.hoverUnderline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -0.5rem;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.50s ease-out;
}

.hoverUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.hoverUnderlineWhite {
    display: inline-block;
    position: relative;
}

.hoverUnderlineWhite::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -0.5rem;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.50s ease-out;
}

.hoverUnderlineWhite:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hoverFooter {
    color: #fff;
    transition: 0.3s;
}

.hoverFooter:hover {
    color: #fff;
    opacity: 0.7;
}

.back-btn{
    opacity: 0.7;
    transition: 0.1s;
}

.back-btn:hover{
    opacity: 1;
}

.bg-inventory {
    background: radial-gradient(82.36% 96.27% at 24.72% 50%, #2d004f 0%, #000 100%);
}

.bg-createEvent{
    background: linear-gradient(180deg, #29004A 0%, #000 98.24%);
}

.bg-supportPage{
    background: linear-gradient(180deg, #29004A 0%, #000 98.24%);
}

.bg-dashboard{
    background: conic-gradient(
  from 53deg at 40.84% 66.92%, 
  #9303C6 12.003970295190811deg, 
  #420294 80.62499821186066deg, 
  #000 230.625deg, 
  #000 341.20814323425293deg
);
}

.mycalender-background{
    border: 1px solid #3C3C3C;
    background: rgba(68, 68, 68, 0.30);
    box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(20px);
}

.createEvent{
    background: linear-gradient(94deg, rgba(64, 104, 205, 0.44) -45.99%, rgba(191, 30, 245, 0.65) 110.78%);
    backdrop-filter: blur(20px);
}